# Stage 1
OCEAN_API_KEY="your_ocean_api_key_here"

# Stage 2
PROSPEO_API_KEY="your_prospeo_api_key_here"

# Stage 3
EAZYREACH_API_KEY="your_eazyreach_api_key_here"

# Stage 4
BREVO_API_KEY="your_brevo_api_key_here"
SENDER_EMAIL="you@yourdomain.com"
SENDER_NAME="Your Name"

# Web Server Port
PORT=3000
